.footer {
    background-color: #f0f0f0;
    /* 灰色背景 */
    color: #333;
    /* 文字颜色 */
    position: fixed;
    /* 固定在页面底部 */
    height: min-content;
    left: 0;
    bottom: 0;
    width: 100%;
    /* 宽度占满整个屏幕 */
    text-align: center;
    /* 文字居中 */
}

.footer .content {
    width: 100%;
    /* 内容宽度占满整个屏幕 */
}