<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <p>Stock Search</p>
        <button class="search-btn" onclick="searchStock()"><img src="../static/img/search-solid.svg"
                alt="Search"></button>
        <input type="text" id="searchInput" placeholder="Enter Stock Ticker Symbol">
        <button class="delete-btn" onclick="searchStock()"><img src="../static/img/times-solid.svg"
                alt="Delete"></button>
        <img src="../static/img/back.svg"></img>
    </div>

    <div id="resultContainer"></div>

    <script src="../static/js/script.js"></script>
</body>

</html>