.search-container {
  text-align: center;
}

.input-group {
  width: 30%;
  display: inline-flex;
  border: 3px solid blue;
  border-radius: 1.5rem;
}

.search-input {
  width: 90%;
  padding: 8px 10px;
}

.search-input:focus {
  outline: none;
  /* 移除默认的焦点样式 */
}

.dropdown-menu {
  width: 26%;
  margin-top: 2%;
  position: absolute;
  max-height: 180px;
  /* 设置最大高度 */
  overflow-y: auto;
  /* 启用垂直滚动 */
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 1.5rem 1.5rem;
  /* 将下拉菜单与输入框对齐 */
  padding: 0;
  background-color: #fff;
  z-index: 999;
  /* 确保下拉菜单在顶部 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 添加阴影效果 */
}

.dropdown-menu li {
  text-align: left;
  list-style-type: none;
  /* 移除列表项的黑点 */
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  /* 鼠标悬停时的背景色 */
}

.resultComponet {
  margin-left: 10%;
  margin-top: 3%;
  width: 80%;
}

.stockOverview {
  text-align: center;
  display: inline-flex;
  width: 70%;
}

.overviewItem {
  margin-right: 10%;
}

.overviewItem:last-child {
  margin-right: 0%;
}

.favoriteButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.stockDetail {}

.buttonContainer {
  margin-top: 5%;
  width: 100%;
  display: flex;
  border: none;
}

.buttonContainer button {
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  width: 40%;

  padding: 10px 0px 10px 0px
}

.buttonContainer button:hover {
  background-color: #F5F5F5;
}

.buttonContainer button.clicked {
  border-bottom: 1px solid #000;
}

.summary {
  display: flex;
}

.summaryLeft {
  width: 50%;
}

.summaryLeft p {
  font-size: 14px;
}

.summaryLeft a {
  font-size: 14px;
}

.summaryRight {
  width: 50%;
}

.newsContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 将卡片分为两列 */
  gap: 20px;
  /* 设置卡片之间的间距 */
}

.newsCard {
  align-items: center;
  cursor: pointer;
  border-color: #020101;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.newsCard img {
  width: 100px;
  height: auto;
  padding: 10px 10px 10px 10px;
}

.newsCard p {
  font-size: 15px;
  margin: auto;
}

.newsModalFooter {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.shareButton {
  padding-right: 5%;
}

.shareButton img {
  max-width: 10%;
  max-height: 10%;
}

.chartsContainer {}

.insightsContainer {}

.insightsTop {}

.insightsBottom {
  display: flex;
}

.recommendationTrends {
  width: 50%;
}

.epsSurprises {
  width: 50%;
}