body {
    margin: 0;
    padding: 0;
    align-items: center;
}

.container {
    background-image: url('../img/back.svg');
    height: 300px;
    text-align: center;
}

.container p {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.container img {
    padding-top: 0;
    width: 720px;
    height: auto;
}

input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}

.search-btn img,
.clear-btn img {
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

.search-btn:hover img {
    opacity: 1;
}

.clear-btn:hover img {
    opacity: 1;
}

#resultContainer {
    margin-top: 8%;
}

.buttonContainer {
    width: 80%;
    border: none;
    background-color: #F5F5F5;
}

.buttonContainer button {
    cursor: pointer;
    background-color: #F5F5F5;
    color: black;
    border: none;
    padding: 10px;
}

.buttonContainer button:hover {
    background-color: #DCDCDC;
}

.buttonContainer button.clicked {
    background-color: #C0C0C0;
}

/* 容器样式 */
.newsContainer {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.newsImage {
    margin-right: 20px;
}

.newsText {}

#chartContainer {
    margin-top: 0%;
}